name: Update Clan Page

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y jq curl

      - name: Generate HTML
        env:
          CR_TOKEN: ${{ secrets.CR_TOKEN }}
        run: |
          chmod +x generate.sh
          ./generate.sh

      - name: Commit & push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if ! git diff --quiet; then
            git add index.html
            git commit -m "update $(date '+%Y-%m-%d %H:%M')"
            git push
          else
            echo "No changes"
          fi
